<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="2.0620" android:installLocation="auto" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.fzs.lab.qr.queen" platformBuildVersionCode="33" platformBuildVersionName="13">
    <queries>
        <intent>
            <action android:name="com.google.zxing.client.android.SCAN"/>
        </intent>
        <package android:name="com.google.android.apps.plus"/>
        <package android:name="com.twitter.android"/>
        <package android:name="com.snapchat.android"/>
        <package android:name="org.telegram.messenger"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.facebook.orca"/>
        <intent>
            <action android:name="android.intent.action.SEND"/>
        </intent>
        <package android:name="com.whatsapp"/>
    </queries>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33"/>
    <application android:theme="@style/AppTheme" android:label="QR Queen" android:icon="@mipmap/ic_launcher" android:name="com.google.appinventor.components.runtime.multidex.MultiDexApplication" android:debuggable="false" android:supportsRtl="false" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher" android:requestLegacyExternalStorage="true" android:preserveLegacyExternalStorage="true">
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="io.kodular.fz_arnob.Qr.Screen1" android:exported="true" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="io.kodular.app.VERSION" android:value="1.5C.1-Fenix"/>
        <activity android:theme="@style/Theme.NoTitleBar.Fullscreen" android:name="com.google.zxing.client.android.AppInvCaptureActivity" android:exported="true" android:stateNotNeeded="true" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.fzs.lab.qr.queen.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>
